<!DOCTYPE HTML>

<html>
	<head>
		<title>Projects</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
		<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" />
		<noscript><link rel="stylesheet" href="{{url_for('static',filename='css/noscript.css')}}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="{{url_for('index')}}" class="logo">Home</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a href="{{url_for('index')}}">Skills</a></li>
							<li><a href="{{url_for('about')}}">About</a></li>
							<li class="active"><a href="{{url_for('projects')}}">Projects</a></li>
							<li><a href="{{url_for('myresume')}}">My Resume</a></li>
						</ul>
						<ul class="icons">
							<li><a href="https://twitter.com/hima286425" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.linkedin.com/in/hima286425/" class="icon brands fa-linkedin"><span class="label">Instagram</span></a></li>
							<li><a href="https://github.com/Himasekhar286425" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

<!-- Main -->
					<div id="main">

						<!-- Post -->
							<section class="post">
								<header class="major">
									<h1>Project 1<br />
									</h1>
								</header>

								<!-- Text stuff -->
									<h2>Aim:</h2>
									<p>Create a website,In that having the self information using the portfolio and showcases the work of artist,design,photograph and the other creation.</p>
									<h2>Requirements:</h2>
									<div class="row">
										<div class="col-6 col-12-small">

											<h3>modules</h3>
											<ul>
												<li>blinker==1.6.3</li>
												<li>click==8.1.7</li>
												<li>colorama==0.4.6</li>
												<li>Flask==3.0.0</li>
												<li>itsdangerous==2.1.2</li>
												<li>Jinja2==3.1.2</li>
												<li>Markdown==3.5</li>
												<li>MarkupSafe==2.1.3</li>
												<li>Werkzeug==3.0.0</li>
											</ul>
										</div>
										<div class="col-6 col-12-small">

											<h3>Languages</h3>
											<ol>
												<li>Python.</li>
												<li>Html.</li>
												<li>css.</li>
												<li>js.</li>
											</ol>
										</div>
									<header>
										<h2>Project Description:</h2>
										<strong>Project Title:</strong> My Website
										<header><strong>Project Purpose/Objectives:</strong>
											<ul>
												<li>The purpose of this website is to provide a comprehensive online presence that allows me to share my professional background,achievements,and interests.</li>
												<li>It serves as a central hub for visitors to learn about who I am, my skills, experiences, and the work I've done.</li>
											</ul>
										</header>
										<header><strong>Project Scope:</strong>
											<ul>
												<li>This personal website covers aspects of my personal and professional life, including my educational background, career history, skills, projects, and areas of interest.</li>
												<li>It is a dynamic platform that I will continually update to reflect my ongoing journey and accomplishments.</li>
											</ul>
										</header>
										<header><strong>Files, Folders, and Libraries:</strong>
											<ul>
												<li>Detail the specific files, folders, and libraries used in the project. Explain the role of key files and directories. Mention any third-party libraries or dependencies you integrated</li>
												<li>And creating viratualenv,Like create viratual environment for this Projects</li>
											</ul>
											<h4>Preformatted</h4>
											<pre><code>website/
app.py
templates/
	skills.html
	about.html
	project.html
	myresume.html
requirements.txt
static/
	images/
	css/
	js/										</code></pre>
									</header>
									<header>
										<h2>Role and Responsibilities:</h2>
											<p>As the creator and owner of this website, my role and responsibilities include
												Generating and maintaining all content, including text, images, and media.
												Designing and developing the website's layout, structure, and functionality.
												Ensuring a user-friendly and visually appealing design.Utilizing the website as a tool for self-promotion, networking, and professional growth.
												As the privacy and security to upload in webserver used free website is pythonanywhere.com.
											</p>
							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<form method="post" action="#">
								<div class="fields">
									<div class="field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="text" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="3"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
						</section>
						<section class="split contact">
							<section class="alt">
								<h3>Address</h3>
								<p>1234 Somewhere Road #87257<br />
								Nashville, TN 00000-0000</p>
							</section>
							<section>
								<h3>Phone</h3>
								<p><a href="#">(000) 000-0000</a></p>
							</section>
							<section>
								<h3>Email</h3>
								<p><a href="#">info@untitled.tld</a></p>
							</section>
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
									<li><a href="https://twitter.com/hima286425" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="https://www.linkedin.com/in/hima286425/" class="icon brands fa-linkedin"><span class="label">Instagram</span></a></li>
									<li><a href="https://github.com/Himasekhar286425" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; </li><li>Design: <a href="https://html5up.net">HIMA SEKHAR</a></li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>